/* FOR DESKTOPS */
@media (max-width: 1280px) {
  /* HEADER AND NAV */
  .header {
    padding: 34px 25px;
    height: 101px;
  }

  .logo {
    font-size: 22px;
    
  }

  .mainNav { 
    display: none;
  }

  .navBtn {
    font-size: 20px;
    margin-right: 30px;
  }
  
  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }

  .mainNav {
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    position: absolute;
    backdrop-filter: blur(10px);
    top: 0;
    left: 0;
    width: 60%;
    height: 100vh;
    transform: translateX(100%);
  }

  .mainNavList {
    flex-direction: column;
    justify-content: flex-start;
    align-items: self-start;
  }

  .mainNavList {
    flex-direction: column;
    /* gap: 3rem; */
  }

  .nav-open .mainNav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  /* HERO SECTION */
  .heroSection {
    margin-top: 10rem;
    background-image: url(/img/heroTablet.svg);
  }

  .heroText,
  .heroSubTitle {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 400;
  }

  .heroTitle {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  .herobtn .btn {
    width: 237px;
    height: 47px;
    font-size: 20px;
  }

  /* ABOUT SCETION */

  .aboutSection {
    padding: 0 34px;
    margin: 195px 0 74px;
  }

  .aboutSection .gridCard {
    grid-column-gap: 99px;
    width: auto;
  }

  .aboutSection .gridCard .atm2 {
  display: none;
  }

  .aboutSection .gridItem .atmTablet {
    display: inline;
  }

  .aboutSection .gridItem button {
    width: 284px;
    height: 47px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 600;
  }

  .aboutImg {
    width: 100%;
    height: 100%;
  }
  
  .aboutSection .gridItemText h3 {
    width: 278px;
    font-size: 20px;
    font-family: "Syne", sans-serif;
  }

  .aboutSection .gridItemText p {
    font-size: 16px;
    width: 321px;
    font-weight: 400;
    margin-bottom: 84px;
  }

  /* LEARN MORE BUTTON */
  .aboutSection .learnMore {
    grid-column-gap: 78px;
  }

  /* .learnMore .gridItem img {
    width: 100%;
    height: 100%;
    margin-top: 70px;
  } */

  .aboutSection .gridItemText .learnMoreBtn {
    width: 147px;
    height: 47px;
  }
}

/* LARGE TABLETS/LAPTOP */

@media (max-width: 991px) {

  .heroSection {
    height: auto;
    padding-bottom: 194px;
  }

  .aboutSection {
    padding: 0 34px;
    margin: 74px 0;
  }

  .aboutSection .gridCard {
    grid-column-gap: 40px;
  }
  
  .aboutSection .learnMore {
    grid-column-gap: 28px;
  }

  .aboutSection .learnMore .gridItemText P {
    width: 90%;
    margin-bottom: 45px;
  }
  
.footerSection {
 font-size: 26px;
 padding: 80px 228px 57px 41px;
}

.footerSection .footerLink {
  font-size: 16px;
  width: 100px;
}
}

/* SMALL TABLETS */

@media (max-width: 768px) {

  .logo {
    font-size: 16px;
  }

  .navBtn {
    font-size: 16px;
  }
  .btn,
.btnlink,
.btn:visited {
  width: 100px;
  height: 47px;
}

.aboutSection{
  margin: 54px 0;
}
.aboutSection .addWallet .gridItemText,
.aboutSection .learnMore .gridItemText {
  margin-top: 42px;
}

.aboutSection .addWallet .gridItemText p,
.aboutSection .addWallet .gridItemText h3,
.aboutSection .learnMore .gridItemText p,
.aboutSection .learnMore .gridItemText h3 {
  width: 100%;
}

.aboutSection  .gridCard {
  grid-template-columns: 1fr;
  text-align: center;
  padding: 42px  78px 15px;
}

.aboutSection .gridItemText h3 {
  width: auto;
}

.heroSection {
  padding-bottom: 44px;
}
.footerSection {
  width: 100%;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 88px;
}
}


/****************** 540px SCREEN ******************** */
@media (max-width: 540px) {
  .navBtn {
    display: none;
  }

  .navBtn1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
  }
  
  .mainNav {
    width: 100%;
  }

  .footerSection {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
  }
}

/********************* 480px SCREEN  Small Phones**************************/

@media (max-width: 480px) {
  .heroSection {
    background-image: url(/img/mobileBg.svg);
  }

  .aboutSection .gridCard {
    margin-top: 54px;
    background-color: #fff;
    text-align: left;
    padding: 0 32px 32px;
  }

  .aboutSection .gridItemCard {
    flex-direction: column-reverse;
    row-gap: 60px;
    order: 2;
  }

  .aboutSection .gridItem button {
    background-color: #9fb7b9;
  }

  .aboutSection .gridItemText p {
    margin-bottom: 15px;
  }

  .wallet1 {
    display: none;
  }

  .wallet2 {
    display: inline;
  }

  .gridItemCard{
    order: 2;
  }
.aboutSection .gridItem .learnMoreBtn {
  margin-top: 0;
  margin-left: 0;
}
.aboutSection .learnMore {
  gap: 0;
  height: 598px;
  padding-bottom: 0;
}

.aboutSection .gridCard2 {
  position: relative;
  top: -60px;
}
}